@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: #1a0b2e;
}

.nav-btn {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border: none;
    /* border-radius: 10%; */
    border-radius: 10px;
    padding: 12px 16px;
}

.text-white {
    color: white;
}

.hidden {
    display: none;
}

.nav-moba {
    padding: 16px 20px;
}

.nav-logo {
    width: 137px;
    height: 24px;
}


.nav-menu-link:hover {
    line-height: 120%;
    padding: 1px 10px;
    background-color: #3e1a6d;
    border-radius: 7px;


}

/* tab */
@media (min-width: 576px) {
    .hidden {
        display: flex !important;

    }

    .nav-logo {
        width: 219px;
        height: 32px;
    }

    .hidden2 {
        display: none;
    }
}


.hero-sect {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    /* min-width: none; */
    /* height: 466px; */
    min-height: 386px;
    /* z-index: 10; */

}

.hero-bg {
    background: url('../assets/hero-bg.png') no-repeat center top;
    background-size: cover;
    /* position: relative; */
    /* height: 466px; */

}

.mic-bg-sect {
    
    width: 200px;
    height: 200px;
    margin: 0px auto;
    position: relative
}

.mic-bg {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: url("./assets/hero-circle.png") no-repeat center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.mic-badge-new {
    position: absolute;
    top: 1%;
    right: 1%;
    color: rgba(26, 11, 46, 1);
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    border-radius: 9999px;
    text-transform: uppercase;
    background: #00FF88;
    box-shadow: 0 0 20px rgba(0, 255, 148, 0.4);
    letter-spacing: 1px;
    padding: 8px 16px;
}

@media (min-width: 576px) {
    .hero-bg {
        height: 620px;
    }
    /* .hero-sect {
    margin-top: 71px;
    } */

}

@media (min-width: 992px) {
    /* .hero-sect {
    margin-top: 101px;
    } */
    .hero-bg {
        min-height: 720px
    }
}