@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: #1a0b2e;
}

.nav-btn {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1), rgba(247, 233, 63, 1));
    border: none;
    /* border-radius: 10%; */
    border-radius: 10px;
    padding: 12px 16px;
    background-size: 200% 200%;
    animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.text-white {
    color: white;
}

.hidden {
    display: none;
}

.nav-moba {
    padding: 16px 20px;
}

.nav-logo {
    width: 137px;
    height: 24px;
}


.nav-menu-link:hover {
    line-height: 120%;
    padding: 1px 10px;
    background-color: #3e1a6d;
    border-radius: 7px;


}

/* tab */
@media (min-width: 576px) {
    .hidden {
        display: flex !important;

    }

    .nav-logo {
        width: 219px;
        height: 32px;
    }

    .hidden2 {
        display: none;
    }
}

.with-hero {
    background: url('./assets/hero-bg.png') no-repeat center top;
    background-size: cover;
    position: relative;
    padding-bottom: 120px;
}

.hero {
    position: relative;
    padding: 8rem 0 0;
    text-align: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mic-bg-sect {
    position: relative;
    width: 240px;
    height: 240px;
    margin: 0 auto 2rem;
}

.mic-bg {
    width: 100%;
    height: 100%;
    background: url('./assets/hero-circle.png') no-repeat center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mic-badge-new {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #0F0417;
    background: #00FF88;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 9999px;
    text-transform: uppercase;
    box-shadow: 0 0 20px rgba(0, 255, 148, 0.4);
    letter-spacing: 1px;
}

.hero h1 {
    font-size: clamp(3.5rem, 8vw, 5rem);
    font-weight: 900;
    margin-bottom: 1.5rem;
    letter-spacing: -0.03em;
    line-height: 1.1;
    color: white;
}

.hero p {
    color: white;
    font-size: 1.125rem;
    max-width: 550px;
    margin: auto 20px;
}

.btn-outline {
    border: 1px solid  #00FF88;
    color: #00FF88;
    padding: 12px 20px;
    border-radius: 9999px;
    font-weight: 700;
    background: transparent;
    cursor: pointer;
}

.btn-outline:hover{
    background: rgba(0, 255, 136, 1);
    color: rgb(0, 0, 0);

}